<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tamplet 1</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- Page 1 starts from here -->
    <div class="tamplet">
        <div class="group1">
            <div class="toolbar">
                <div class="search">
                    <pre>Search here                                 <i class="fa-solid fa-magnifying-glass"></i></pre>
                </div>
                <div class="logo">
                    <img src="Logo.png" alt="logo">
                </div>
                <div class="login">
                    <p>Register / Login</p>
                    <div class="icon">
                        <div class="icon1">
                            <p>1</p>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                        <div class="icon2">
                            <p>1</p>
                            <i class="fa-solid fa-cart-plus"></i>
                        </div>
                    </div>
                </div>
            </div>
            <nav>
                <ul>
                    <li><a class="link" href="#home">HOME</a></li>
                    <li><a class="link" href="#about-us">ABOUT US</a></li>
                    <li><a class="link" href="#service">SERVICE</a></li>
                    <li><a class="link" href="#pricing">PRICING</a></li>
                    <li><a class="link" href="#blog">BLOG</a></li>
                    <li><a class="link" href="#contact">CONTACT</a></li>
                </ul>
            </nav>
            <div class="home" id="home">
                <p class="head1">AMERICAN FOOD</p>
                <p class="head2"><span>The Best Test Fo</span>od</p>
                <p class="para1">
                    Lorem ipsum dolor sit amet consectetur adipisicing <br>
                    elit. Obcaecati voluptatibus nam, autem quaerat dolores <br>
                    sit impedit dolorem quibusdam?
                </p>
                <div class="button">
                    <a class="button1">ORDER NOW</a>
                    <a class="button1">&larr;</a>
                </div>
            </div>
        </div>

        <!-- Page 2 starts from here -->
        <div class="group2" id="about-us">
            <div class="heading">
                <p class="head21">ABOUT US</p>
                <p class="head22">ABOUT US</p>
                <p class="para21">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores nulla aperiam est
                    ad nihil ducimus.
                </p>
            </div>
            <main>
                <div class="food-description">
                    <p class="head23">Let food be thy medicine
                        <br> medicine be thy food.
                    </p>
                    <p class="para2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione vero harum
                        perspiciatis placeat
                        velit assumenda reprehenderit labore iste magnam magni rerum beatae voluptates animi veniam
                        totam,
                        sint veritatis adipisci provident accusantium!
                    </p>
                    <p class="para2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita at a possimus tempore fugit
                        labore omnis accusamus.
                    </p>
                    <div class="button2">
                        <a class="button1">READ MORE</a>
                        <a class="button1">&larr;</a>
                    </div>
                </div>
                <div class="food-picture">
                    <img class="image1" src="FoodImg.png" alt="Food Picture YT">
                    <div class="shape">
                        <img class="ytlogo" src="YouTubeImg.png" alt="">
                    </div>
                </div>
            </main>
        </div>

        <div class="group3">
            <main>
                <div class="food-picture1">
                    <img class="image1" src="FoodImg.png" alt="Food Picture YT">
                    <div class="shape">
                        <img class="ytlogo" src="YouTubeImg.png" alt="">
                    </div>
                </div>
                <div class="food-description1">
                    <p class="head23">Let food be thy medicine
                        <br> medicine be thy food.
                    </p>
                    <p class="para2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione vero harum
                        perspiciatis placeat
                        velit assumenda reprehenderit labore iste magnam magni rerum beatae voluptates animi veniam
                        totam,
                        sint veritatis adipisci provident accusantium!
                    </p>
                    <p class="para2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita at a possimus tempore fugit
                        labore omnis accusamus.
                    </p>
                    <div class="button2">
                        <a class="button1">READ MORE</a>
                        <a class="button1">&larr;</a>
                    </div>
                </div>
            </main>
        </div>

        <!-- Page 3 starts from here -->
        <div class="group4" id="service">
            <div class="heading3">
                <p class="head31">SERVICE</p>
                <p class="head32">SERVICE</p>
                <p class="para31">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores nulla aperiam est
                    ad nihil ducimus.
                </p>
            </div>
            <div class="grid">
                <div class="block1">
                    <div class="block11">
                        <div class="heading-grid">
                            <p class="head33">Peanut butter</p>
                            <p class="price">$45</p>
                        </div>
                        <p class="para32">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, quibusdam.
                            Voluptatibus rem cum tenetur recusandae ad perspiciatis possimus sequi, quos explicabo
                            maxime earum laudantium rerum magnam iusto sint at! Dolor, voluptates et?
                        </p>
                        <div class="button2">
                            <a class="button21">BUY NOW</a>
                        </div>
                    </div>
                    <div class="block12">
                        <img class="fooddish" src="Dish1.png" alt="fooddish1">
                    </div>
                </div>
                <div class="block2">
                    <div class="block11">
                        <div class="heading-grid">
                            <p class="head33">Pumpkin pie</p>
                            <p class="price">$35</p>
                        </div>
                        <p class="para32">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, quibusdam.
                            Voluptatibus rem cum tenetur recusandae ad perspiciatis possimus sequi, quos explicabo
                            maxime earum laudantium rerum magnam iusto sint at! Dolor, voluptates et?
                        </p>
                        <div class="button2">
                            <a class="button21">BUY NOW</a>
                        </div>
                    </div>
                    <div class="block12">
                        <img class="fooddish" src="Dish2.png" alt="fooddish">
                    </div>
                </div>
                <div class="block3">
                    <div class="block11">
                        <div class="heading-grid">
                            <p class="head33">Jambalaya</p>
                            <p class="price">$50</p>
                        </div>
                        <p class="para32">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, quibusdam.
                            Voluptatibus rem cum tenetur recusandae ad perspiciatis possimus sequi, quos explicabo
                            maxime earum laudantium rerum magnam iusto sint at! Dolor, voluptates et?
                        </p>
                        <div class="button2">
                            <a class="button21">BUY NOW</a>
                        </div>
                    </div>
                    <div class="block12">
                        <img class="fooddish" src="Dish3.png" alt="fooddish">
                    </div>
                </div>
            </div>
        </div>

        <div class="group5">
            <p class="special">Special</p>
            <p class="sale">SALE 50% DISCOUNT</p>
            <p class="products">ALL FOOD PRODUCTS</p>
            <p class="para51">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est repudiandae culpa vitae odio,
                sequi similique. Est obcaecati quos asperiores
            </p>
            <div class="button2">
                <a class="button51">DISCOVER NOW</a>
            </div>
        </div>

        <!-- Page 4 starts from here -->
        <div class="group6" id="pricing">
            <div class="heading6">
                <p class="head31">PRICING</p>
                <p class="head32">PRICING</p>
                <p class="para31">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores nulla aperiam est
                    ad nihil ducimus.
                </p>
            </div>
            <div class="cards">
                <div class="card1">
                    <div class="upper-part">
                        <p class="quality">Basic</p>
                        <p class="price1">$35</p>
                    </div>
                    <div class="lower-part">
                        <p class="item">6 Pis Chiken</p>
                        <p class="item">3 Pis Beef Chiken</p>
                        <p class="item">2 Pis Burger</p>
                        <a class="button51">BUY NOW</a>
                    </div>
                </div>
                <div class="card2">
                    <div class="upper-part">
                        <p class="quality">Standard</p>
                        <p class="price1">$50</p>
                    </div>
                    <div class="lower-part">
                        <p class="item">6 Pis Chiken</p>
                        <p class="item">3 Pis Beef Chiken</p>
                        <p class="item">2 Pis Burger</p>
                        <a class="button51">BUY NOW</a>
                    </div>
                </div>
                <div class="card3">
                    <div class="upper-part">
                        <p class="quality">Premium</p>
                        <p class="price1">$45</p>
                    </div>
                    <div class="lower-part">
                        <p class="item">6 Pis Chiken</p>
                        <p class="item">3 Pis Beef Chiken</p>
                        <p class="item">2 Pis Burger</p>
                        <a class="button51">BUY NOW</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="group7">
            <p class="special1">Special</p>
            <p class="sale1">SALE 50% DISCOUNT</p>
            <p class="products1">ALL FOOD PRODUCTS</p>
            <p class="para71">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est repudiandae culpa vitae odio,
                sequi similique. Est obcaecati quos asperiores
            </p>
            <div class="button7">
                <a class="button51">DISCOVER NOW</a>
            </div>
        </div>

        <!-- Page 5 starts from here -->
        <div class="group8" id="blog">
            <div class="heading8">
                <p class="head31">BLOG</p>
                <p class="head32">BLOG</p>
                <p class="para31">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores nulla aperiam est
                    ad nihil ducimus.
                </p>
            </div>
            <div class="cards1">
                <div class="image81"></div>
                <div class="eatfood">
                    <p class="eatfood1">Eat food. Not too much mostly plants.</p>
                    <p class="para81">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident unde similique
                        odio illo eaque enim!
                    </p>
                    <a class="button81">Read More</a>
                </div>
                <div class="image82"></div>
            </div>
        </div>

        <!-- Page 6 starts from here -->
        <div class="group9" id="contact">
            <img class="triangle1" src="Triangle-full.png" alt="">
            <img class="triangle2" src="Triangle-dashed.png" alt="">
            <img class="circle1" src="Circle-full.png" alt="">
            <img class="circle2" src="Circle-dashed.png" alt="">

            <div class="footer">
                <img class="logo-img-9" src="Logo2.png" alt="">
                <p class="american-food">AMERICAN FOOD</p>
                <p class="thebestfood">The Best Test Food</p>
                <div class="icons">
                    <img src="Instagram.png" alt="">
                    <img src="Facebook.png" alt="">
                    <img src="Twitter.png" alt="">
                    <img src="WhatsApp.png" alt="">
                </div>
                <p class="link9">yourwebsite.com</p>
            </div>
        </div>
    </div>
</body>

</html>